* {
    box-sizing: border-box;
}
* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
* h2, h3, p, a{
    font-family: 'Quicksand', serif;
}
body {
    padding: 70px 0 0 0;
}

/* NavBar */
.navbar-default {
    background-color: #3587A4;
    border: none;
}
#logo {
    color: #fff;
}
#myNavbar a {
    color: #fff;
    text-transform: uppercase;
}
.active a {
    background-color: #2f7a94 !important;
    font-style: italic;
}



/* Footer */
footer {
    background-color: #FEFEFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 10px;
}
.footer p, a {
    padding: 0px 0px 0px 0px;
    font-size: .9em;
    color: #A8A8A8;
}
.footer a:hover {
    color: 2f7a94;
}
