* {
    box-sizing: border-box;
}
* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
* h2, h3, p {
    font-family: 'Quicksand', serif;
}


/* Footer */
footer {
    background-color: #181D22;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 10px;
}
.footer p, a {
    padding: 0px 0px 0px 0px;
    font-size: .9em;
    color: #A8A8A8;
}
.footer a:hover {
    color: #fff;
}
