* {
    box-sizing: border-box;
}

* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

* h2, h3, p, a {
    font-family: 'Quicksand', serif;
}

body {
    padding: 70px 0 0 0;
}


/* NavBar */

.navbar-default {
    background-color: #B7E3E4;
    border: none;
}

#logo {
    color: #fff;
    padding: 0;
}

.navbar-default .navbar-toggle {
    background-color: #B7E3E4;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.icon-bar {
    background-color: #F03F35 !important;
}

#logo img {
    height: 100%;
    padding: 5px 18px;
    width: auto;
}

#myNavbar {
    padding: 0 20px 0 0;
}

#myNavbar a {
    color: #F03F35;
    text-transform: uppercase;
}

.active a {
    color: #fff !important;
    background-color: #2f7a94 !important;
    font-style: italic;
}


/* Footer */

footer {
    background-color: #FEFEFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 10px;
}

.footer p, a {
    padding: 0px 0px 0px 0px;
    font-size: .9em;
    color: #A8A8A8;
}

.footer a:hover {
    color: #2f7a94;
}
